.xt-product-box{
    width: 25%;
    max-width: 400px;
    min-width: 320px;
    height: 400px;
    border: 1px solid #ccc;
}
.xt-product-img img{
    width: 100%;
}
.xt-product-action{
    text-align: center;
}
.xt-product-title{
    text-align: center;
    color: #000;
    font-weight: bold;
}
.xt-btn{
    text-decoration: none;
    color: #fff;
    background-color: blue;
    border-radius: 10px;
    padding: 4px 10px;
}