<div class="xt-product-box">
  <div class="xt-product-img">
    {{ block.settings.product | image_url | img_tag }}
    {%- for k in block.settings.product.images -%}{%- endfor -%}
  </div>
  <div class="xt-product-title">{{ block.settings.product.title }}</div>
  <div class="xt-product-action">
    <a class="xt-btn" href="{{ block.settings.product.url }}">{{ 'ratings.product.shop' | t }}</a>
  </div>
</div>